html {
  --bc: #1a1a1a;
  --fc: #BBB;
  
  --mutedfc: #9a8;
  --mutedbc: #232;

  --disabledfc: #888;
  --disabledbc: #222;

  --enabledfc: #699;
  --enabledbc: #113;
  
  --sharpfc: #CCC;
  --sharpbc: #0a0a0a;
  
  --standoutfc: #000;
  --standoutbc: #bbbbbb;
  --failfc: #300;
  --failbc: #fcc;
  
  //--linkemphasisbc: rgba(0,0,0,0.7);
  //--actionemphasisbc: rgba(255,255,255,0.5);
  
  --animcyclec1: #C77;
  --animcyclec2: #CC7;
  --animcyclec3: #AA0;
  --animcyclec4: #7C7;
}

