html {
  --bc: #ffdede;
  --fc: #111;
  
  --textbc: #ADF;
  --textfc: #111;
  
  --mutedfc: #fbb;
  --mutedbc: #232;

  --disabledfc: #000;
  --disabledbc: #888;

  --enabledfc: #fff;
  --enabledbc: #464;
  
  --sharpfc: #100;
  --sharpbc: #cfdfca;
  
  --standoutfc: #000;
  --standoutbc: #bbbbbb;
  --failfc: #300;
  --failbc: #fcc;
  
  --linkemphasisbc: #838d80; //rgba(0,0,0,0.37);
  --actionemphasisbc: rgba(255,255,255,0.5);
  
  --animcyclec1: #F99;
  --animcyclec2: #CF9;
  --animcyclec3: #9F9;
  --animcyclec4: #77F;
}

