html {
  --bc: #1a1a1a;
  --fc: #BBB;
  
  --mutedfc: #9a8;
  --mutedbc: #232;

  --disabledfc: #888;
  --disabledbc: #222;

  --enabledfc: #699;
  --enabledbc: #113;
  
  --sharpfc: #CCC;
  --sharpbc: #0a0a0a;
  
  --standoutfc: #000;
  --standoutbc: #882;
  --failfc: #711;
  --failbc: #fbb;
}

