.pendingsub, .pendingscript, .pendingcontents:empty { display: none !important; visibility: none; position: absolute; }

footer > u { position: absolute; right: 51vw; }
footer > links { padding-left: 51vw; flex-direction: row-reverse; }
links { display: flex; flex-wrap: wrap; }
links > a { display: block; border: 2px dotted #AAA; margin-left: 3em; padding: 0.2em; font-weight: bold; }

