@import "standard-dark.css" screen and (prefers-color-scheme: dark);
@import "standard-light.css" not (screen and (prefers-color-scheme: dark));

body {
	color: var(--fc);
	background-color: var(--bc);
}

a {
	color: var(--enabledfc);
}
a:visited {
	color: var(--mutedfc);
}
btn, buttons > :not(a), .menu > :not(a) {
	color: var(--enabledfc);
	background-color: var(--enabledbc);
}
btn.used, buttons > .used:not(a), .menu > .used:not(a) {
	color: var(--mutedfc);
	background-color: var(--mutedbc);
}
btn.disabled, buttons > .disabled:not(a), .menu > .disabled:not(a) {
	color: var(--disabledfc);
	background-color: var(--disabledbc);
}

 .active [activator] {
	color: var(--mutedfc);
	background-color: none;
	background: linear-gradient(var(--mutedbc), 90%, rgba(0,0,0,0));
 }
 
 header {
	 color: var(--sharpfc);
	 background: linear-gradient(var(--sharpbc), 90%, rgba(0,0,0,0));
	 
	 border-left: solid 1em rgba(0,0,0,0);
	 box-sizing: border-box;
	 border-radius: 32% 0 0 0;
 }
 
 footer {
	color: var(--sharpfc);
	background-color: var(--sharpbc);
	border-bottom: double 0.4em rgba(128,128,128,0.2);
	border-left: double 1em rgba(128,128,128,0.2);
 }
 body > footer:before {
	 display: block;
	 height: 0.55em;
	 content: '';
	 background: linear-gradient(var(--bc), 60%, var(--sharpbc));
 }