<buttons style="display: inline-block; position=absolute">🏳️‍🌈 <a href="https://github.com/solsnicethings/solsnicethings.github.io">The repository for this site</a></buttons>
<u class=righthalflabel style="translate: 0 1.2em">You can find me at:</u>
<buttons>
<a href=https://www.patreon.com/stjernehest>Patreon</a>
<a href=https://www.youtube.com/channel/UCka6nkfhl3sPLLyi4HawTQQ>YouTube</a>
<a href=https://megaturtle.bandcamp.com/album/the-dozy-girl-overnight-travel-companion>Bandcamp</a>
<a href=https://open.spotify.com/track/3jq6NBp0Psj8gqYudXIcQv?si=d1422932b206409c>My childhood band put one song on Spotify</a>
</buttons>
<i style="float: right">(Links do NOT automatically open new tabs)</i>
<hr>
|<cap style="position: absolute; z-index: 1;" class="bc fc">&copy; Copyright 2024, Aron Riktor (Sol) |</cap>
<b class='muddled righthalflabel'>Fair warning:<br><u>changes, errors and capacity restrictions are likely (expenses were spared)</u></b>
