<u>You can find me at:</u>
<buttons>
<a href=https://www.patreon.com/stjernehest>Patreon</a>
<a href=https://www.youtube.com/channel/UCka6nkfhl3sPLLyi4HawTQQ>YouTube</a>
<a href=https://megaturtle.bandcamp.com/album/the-dozy-girl-overnight-travel-companion>Bandcamp</a>
<a href=https://open.spotify.com/track/3jq6NBp0Psj8gqYudXIcQv?si=d1422932b206409c>My childhood band put one song on Spotify</a>
</buttons>
<hr>
|<small>&copy; Copyright 2024, Aron Riktor (Sol)</small>|
<i>This is a test, tech demo, proof of concept, training project.</i>