<b>Consent</b>: You have given consent for this site to use
'<a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API" target="_blank">Storage APIs</a>
to retain data on your computer. This consent applies to the entire site.
<action>Withdraw consent and delete settings</action>
<hr>
<p><b>Caching API queries:</b> Once you have given permission to use storage, some API queries are cached unless you disable it. API queries are used to retrieve file lists to generate menus and content. The cache will be refreshed eventually, but if you suspect that something is missing, you can disable the caching to get updated responses.</p>
<label><input type=checbox id=allowApiCache/>Allow API cache</label>
<hr>
<action>Export settings to text</action>
<action>Import settings from text</action>
